.chess-board {
  display: block;
  position: relative;
  width: 500px;
  height: 500px;
  z-index: 0;
}

.square, .piece {
  display: block;
  position: absolute;
  width: 12.5%;
  height: 12.5%;
}

.square {
  z-index: 1;
  &.dark {
    background: rgba(0, 0, 0, 0.1);
  }
  &.light {
    background: rgba(0, 0, 0, 0.2);
  }
  &.active {
    background: rgba(255, 0, 0, 0.3);
  }

  .label {
    position: absolute;
    top: 2px;
    left: 2px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.65rem;
    pointer-events: none;
    user-select: none;
  }
}

.piece {
  z-index: 2;
  background-position: center;
  background-size: cover;
}
